<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="/miinto/stats" class="previous"><b>MIINTO</b></a>
        <a class="previous" href ="/miinto/orders/">Pokaz liste zamowien</a>
        <div class="dropdown">
            <button class="dropbtn">Statystyki zamowien
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="previous" href ="/miinto/stats/">Wszystkie rynki</a>
                <a class="previous" href ="/miinto/stats/Platform-BE">Belgia</a>
                <a class="previous" href ="/miinto/stats/Platform-DK">Dania</a>
                <a class="previous" href ="/miinto/stats/Platform-FI">Finlandia</a>
                <a class="previous" href ="/miinto/stats/Platform-FR">Francja</a>
                <a class="previous" href ="/miinto/stats/Platform-ES">Hiszpania</a>
                <a class="previous" href ="/miinto/stats/Platform-NL">Holandia</a>
                <a class="previous" href ="/miinto/stats/Platform-DE">Niemcy</a>
                <a class="previous" href ="/miinto/stats/Platform-PL">Polska</a>
                <a class="previous" href ="/miinto/stats/Platform-SE">Szwecja</a>
                <a class="previous" href ="/miinto/stats/Platform-IT">Wlochy</a>
            </div>
        </div>
    </div>
    <center>
        <h1>
            {% if country == 'all' or country == None%}
                Kraj: Wszyskie rynki<br>
            {% elif country != 'all' %}
                Kraj: {{country}}<br>
            {% endif %}
            {% if month != None %}
                Rok: {{year}} Miesiąc: {{month}}
            {% elif month == None %}
                Rok: {{year}}
            {% endif %}
        </h1>
    </center>


    <center><button><a href="{{ url_for('miinto_stats', country=country) }}">Zestawienie roczne</a></button><button><a href="{{ url_for('miinto_stats', year=year, month='get_current_month', country=country) }}">Zestawienie miesięczne</a></button><br></center>


    {% if month != None %}
        <center>
            <button><a href="{{ url_for('miinto_stats', year=(year|int)-1, month='1', country=country) }}">Poprzedni rok</a></button>
            <button><a href="{{ url_for('miinto_stats', year=(year|int)+1, month='1', country=country) }}">Następny rok</a></button><br>
        </center>
        <center>
            <button><a href="{{ url_for('miinto_stats', year=year, month=month|int-1, country=country) }}">Poprzedni miesiac</a></button>
            <button><a href="{{ url_for('miinto_stats', year=year, month=month|int+1, country=country) }}">Następny miesiac</a></button>
        </center>><br>
    {% else %}
        <center>
            <button><a href="{{ url_for('miinto_stats', year=(year|int)-1, country=country) }}">Poprzedni rok</a></button>
            <button><a href="{{ url_for('miinto_stats', year=(year|int)+1, country=country) }}">Następny rok</a></button><br>
        </center>
    {% endif %}

    <canvas id="myChart" width="780" height="520" style = "float: left;"></canvas>
    <script>
        var ctx1 = document.getElementById('myChart').getContext('2d');
        var lineChart = new Chart(ctx1, {
            type: "line",
            data:{
                labels: {{time_labels|safe}},
                datasets: [
                    {
                        label: "Liczba zamowien",
                        data: {{order_number_per_month|safe}},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1,

                    }
                ]
            },
            options: {
                responsive: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Ilosc zamowien - miesiecznie',
                        padding: {
                            top: 10,
                            bottom: 30
                        },
                         font: {
                            size: 30
                        }
                    }
                },
            }
        });
    </script>
    <canvas id="myChart2" width="780" height="520" style = "float: left;"></canvas>
    <script>
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var lineChart = new Chart(ctx2, {
            type: "line",
            data:{
                labels: {{time_labels|safe}},
                datasets: [
                    {
                        label: "Kwoty zamowien w PLN",
                        data: {{summary_prices_per_month_pln|safe}},
                        fill: false,
                        borderColor: "rgb(228, 217, 111)",
                        lineTension: 0.1,

                    },
                    {% if summary_prices_per_month_currency != [] %}
                    {
                        label: "Kwota zamowien {{currency_symbol}}",
                        data: {{summary_prices_per_month_currency|safe}},
                        fill: false,
                        borderColor: "rgb(100, 217, 111)",
                        lineTension: 0.1,
                        pointRadius: 5,
                    }
                    {% endif %}
                ]
            },
            options: {
                responsive: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Kwoty zamowien',
                        padding: {
                            top: 10,
                            bottom: 30
                        },
                         font: {
                            size: 30
                        }
                    }
                },
            }
        });
    </script>
    {% if number_of_orders_per_country != [] %}
        {% set summary_number_of_orders_per_country = number_of_orders_per_country|sum %}
        <canvas id="myChart3" width="780" height="520" style = "float: left;"></canvas>
        <script>
            var ctx3 = document.getElementById('myChart3').getContext('2d');
            var lineChart = new Chart(ctx3, {
                type: "bar",
                data:{
                    labels: {{labels_counties_names|safe}},
                    datasets: [
                        {
                            label: "Liczba zamowien",
                            data: {{number_of_orders_per_country|safe}},
                            fill: false,
                            backgroundColor: [
                                  "rgb(162, 223, 233)",
                                  "rgb(222, 223, 233)",
                                  'rgb(255, 99, 132)',
                                  'rgb(54, 162, 235)',
                                  'rgb(255, 205, 86)',
                                  'rgb(136, 176, 75)',
                                  'rgb(247, 202, 201)',
                                  'rgb(146, 168, 209)',
                                  'rgb(0, 155, 119)',
                                  'rgb(91, 94, 166)',
                                  'rgb(223, 207, 190)',
                                  'rgb(195, 68, 122)',
                                ],
                            lineTension: 0.1,
                        }
                    ]
                },
                options: {
                    responsive: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Ilosc zamowien - {{summary_number_of_orders_per_country}}',
                            padding: {
                                top: 10,
                                bottom: 30
                            },
                             font: {
                                size: 30
                            }
                        },
                    },
                }
            });
        </script>
        <canvas id="myChart4" width="780" height="520" style = "float: left;"></canvas>
            <script>

                var ctx4 = document.getElementById('myChart4').getContext('2d');
                var lineChart = new Chart(ctx4, {
                    type: "doughnut",
                    data:{
                        labels: {{labels_counties_names|safe}},
                        datasets: [
                            {
                                label: "Liczba zamowien",
                                data: {{percent_domination|safe}},
                                fill: false,
                                backgroundColor: [
                                      "rgb(162, 223, 233)",
                                      "rgb(222, 223, 233)",
                                      'rgb(255, 99, 132)',
                                      'rgb(54, 162, 235)',
                                      'rgb(255, 205, 86)',
                                      'rgb(136, 176, 75)',
                                      'rgb(247, 202, 201)',
                                      'rgb(146, 168, 209)',
                                      'rgb(0, 155, 119)',
                                      'rgb(91, 94, 166)',
                                      'rgb(223, 207, 190)',
                                      'rgb(195, 68, 122)',
                                    ],
                                lineTension: 0.1,
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Dominacja rynkow w % (ilosc zamowien)',
                                padding: {
                                    top: 10,
                                    bottom: 30
                                },
                                 font: {
                                    size: 30
                                }
                            }
                        }
                    }
                });
        </script>
    {% endif %}
</body>
</html>