<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Zamówienia miinto</title>
</head>
<body>
    <div class="navbar">
        <a href="/miinto/stats" class="previous"><b>MIINTO</b></a>
        <a class="previous" href ="/miinto/orders/">Pokaz liste zamowien</a>
        <div class="dropdown">
            <button class="dropbtn">Statystyki zamowien
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="previous" href ="/miinto/stats/">Wszystkie rynki</a>
                <a class="previous" href ="/miinto/stats/Platform-BE">Belgia</a>
                <a class="previous" href ="/miinto/stats/Platform-CN">Chiny</a>
                <a class="previous" href ="/miinto/stats/Platform-DK">Dania</a>
                <a class="previous" href ="/miinto/stats/Platform-FI">Finlandia</a>
                <a class="previous" href ="/miinto/stats/Platform-FR">Francja</a>
                <a class="previous" href ="/miinto/stats/Platform-ES">Hiszpania</a>
                <a class="previous" href ="/miinto/stats/Platform-NL">Holandia</a>
                <a class="previous" href ="/miinto/stats/Platform-DE">Niemcy</a>
                <a class="previous" href ="/miinto/stats/Platform-PL">Polska</a>
                <a class="previous" href ="/miinto/stats/Platform-SE">Szwecja</a>
                <a class="previous" href ="/miinto/stats/Platform-IT">Wlochy</a>
            </div>
        </div>
    </div>
    <h1>Zamowienia w Miinto</h1>
      <form action="/miinto/orders/" method="post" id = "form_clear">
          <p>
              Ile na stronie:
              <select id="number_of_orders" name="number_of_orders">
                  <option value="1">1</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                  <option value="500" selected="selected">500</option>
                  <option value="1000">1000</option>
                  <option value="10000">10000</option>
              </select>
          </p>
          <p>
              Kraj:
              <select id="country_name" name="country_name">
                  <option value="all" selected="selected">Wszystko</option>
                  <option value="Platform-BE">Belgia</option>
                  <option value="Platform-DK">Dania</option>
                  <option value="Platform-CN">Chiny</option>
                  <option value="Platform-FI">Finlandia</option>
                  <option value="Platform-FR">Francja</option>
                  <option value="Platform-ES">Hiszpania</option>
                  <option value="Platform-NL">Holandia</option>
                  <option value="Platform-DE">Niemcy</option>
                  <option value="Platform-PL">Polska</option>
                  <option value="Platform-SE">Szwecja</option>
              </select>
          </p>
          <p>
              Od <input type="date" name="date_start"> do <input type="date" name="date_end"> - pozostaw puste zeby wyswietlic z calego okresu
          </p>
          <p>
              Numer zamowienia(opcjonalne):
              <input type="number" min="1" id="order_number_input" name="order_number_input">
          </p>
          <button value="go" name="forwardBtn" type="submit">Wczytaj</button>
      </form>
      <form method="post">
          <button value="prev" name="forwardBtn" type="submit">Poprzednia</button>
          <button value="nex" name="forwardBtn" type="submit">Nastepna</button>
          <button value="download_report" name="forwardBtn" type="submit">Pobierz raport</button>
      </form>

<div class="table-wrapper">
            <table class="order_table" style="border: 1px solid black;">

                <thead>
                    <tr>
                        <th><b>Zamowienie</b></th>
                        <th>Kraj</th>
                        <th>Numer zamowienia</th>
                        <th>Id BL</th>
                        <th>Kwota</th>
                        <th>Waluta</th>
                        <th>Kwota w pln</th>
                        <th>Imię i nazwisko</th>
                        <th>Produkty</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders%}
                        {% set order_number = order[1] %}
                        {% set main_id = order[11] %}
                        {% set order_country = order[6] %}
                        {% set order_price = order[3] %}
                        {% set order_price_pln = order[4] %}
                        {% set date = order[2] %}
                        {% set name = order[7] %}
                        {% set currency = order[5] %}
                        {% set names = order[8] %}
                        {% set names_list = names.split(";")[:-1] %}
                        {% set eans = order[9] %}
                        {% set eans_list = eans.split(";")[:-1] %}
                        {% set order_ids = order[10]%}
                        {% set ids_list = order_ids.split(";")[:-1] %}


                        <tr>
                            {% if visible_orders_count[0] == 0 %}
                                <td><b>{{loop.index}}</b></td>
                            {% else %}
                                <td><b>{{loop.index+((visible_orders_count[0])*visible_orders_count[1])}}</b></td>
                            {% endif %}
                            <td>{{order_country.split('-')[1]}}</td>
                            <td>{{order_number}}</td>
                            <td>{{main_id}}</td>
                            <td>{{order_price}}</td>
                            <td>{{currency}}</td>
                            <td>{{order_price_pln}}</td>
                            <td>{{name}}</td>
                            <td>
                                <table style="width: 100%;">
                                    {% for product in names_list%}
                                        <tr>
                                            {% if ids_list[loop.index-1] is defined%}
                                                {% if order_country.split('-')[1] == 'CN'%}
                                                    <td style="text-align: left"><a href="https://www.miinto.pl/p-link-{{ids_list[loop.index-1].strip()}}" target="_blank">[Oferta]</a> {{product}}</td>
                                                {% else %}
                                                    <td style="text-align: left"><a href="https://www.miinto.{{order_country.split('-')[1]}}/p-link-{{ids_list[loop.index-1].strip()}}" target="_blank">[Oferta]</a> {{product}}</td>
                                                {% endif %}
                                            {% else %}
                                                <td style="text-align: left">{{product}}</td>

                                            {% endif %}

                                            <td style="text-align: right">{{eans_list[loop.index-1]}}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>{{date}}</td>
                        </tr>

                    {% endfor %}
                <tbody>
            </table>
        </div>
</body>
</html>