

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .top-data{
        float: left;
        width: 50%;
        height: 20%;
        }

    </style>
</head>

<body>
    <div class="navbar">
        <a href="/miinto/stats" class="previous"><b>MIINTO</b></a>
        <a class="previous" href ="/miinto/orders/">Pokaz liste zamowien</a>
        <div class="dropdown">
            <button class="dropbtn">Statystyki zamowien
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="previous" href ="/miinto/stats/">Wszystkie rynki</a>
                <a class="previous" href ="/miinto/stats/be">Belgia</a>
                <a class="previous" href ="/miinto/stats/dk">Dania</a>
                <a class="previous" href ="/miinto/stats/fi">Finlandia</a>
                <a class="previous" href ="/miinto/stats/fr">Francja</a>
                <a class="previous" href ="/miinto/stats/es">Hiszpania</a>
                <a class="previous" href ="/miinto/stats/nl">Holandia</a>
                <a class="previous" href ="/miinto/stats/de">Niemcy</a>
                <a class="previous" href ="/miinto/stats/pl">Polska</a>
                <a class="previous" href ="/miinto/stats/se">Szwecja</a>
                <a class="previous" href ="/miinto/stats/it">Wlochy</a>
            </div>
        </div>
    </div>
    <div class="top-data">
        <center><h1>Kraj miinto: {{ (url_for(request.endpoint, **request.view_args)).replace("/miinto/stats/", "") }}</h1></center>
        {% if currency != "PLN" %}
            <h4>Kwota zamowien: {{'%0.2f' % price}} {{currency}} ({{ prices_sum_pln }} PLN)</h4>
            {% set avg_b = '%0.2f' % (price|int/order_number|int) %}
            {% set avg_in_pln = '%0.2f' % (avg_b|float/course) %}
           <h4> Srednia wartosc koszyka: {{avg_b}} {{currency}} ({{ avg_in_pln }} PLN)</h4>
        {% else %}
            <h4>Kwota zamowien: {{'%0.2f' % price}} {{currency}}</h4>
            {% set avg_b = '%0.2f' % (price|int/order_number|int) %}
            {% set avg_in_pln = '%0.2f' % (avg_b|float/course) %}
            <h4>Srednia wartosc koszyka: {{avg_b}} {{currency}}</h4>
        {% endif %}
    </div>
    <div class="top-data">
        {% if currency != "PLN" %}
            <h4 style="text-align: right">KURS: 1 PLN = {{'%0.2f' % course}} {{currency}}</h4>
            <h4 style="text-align: right">Pobrane z NBP</h4>
        {% endif %}
    </div>

    <form action="{{ url_for('miinto_stats', country=country) }}" method="post">
        <input type="month" id="month" name="month" min="2021-12" value="2021-12">
        <input type="submit"></br>
        Wyswietl wszysto <input type="checkbox" id="all" name="all">
    </form>
    </br>
    <canvas id="orderNumber" width="780" height="520" style = "float: left;"></canvas>
    <canvas id="orderPrice" width="780" height="520" style = "float: left;"></canvas>
    <script>
        var ctx = document.getElementById('orderNumber').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: "line",
            data:{
                labels: {{date_labels|safe}},
                datasets: [
                    {
                        label: "Liczba zamowien",
                        data: {{values_o_number|safe}},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1,
                        pointRadius: 5,
                    }
                ]
            },
            options: {
                responsive: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Ilosc zamowien - {{order_number}}',
                        padding: {
                            top: 10,
                            bottom: 30
                        },
                         font: {
                            size: 30
                        }
                    }
                }
            }
        });
        var ctx2 = document.getElementById('orderPrice').getContext('2d');
        var lineChart = new Chart(ctx2, {
            type: "line",
            data:{
                labels: {{date_labels|safe}},
                datasets: [
                    {
                        label: "Kwota zamowien {{currency}}",
                        data: {{price_date_values|safe}},
                        fill: false,
                        borderColor: "rgb(228, 217, 111)",
                        lineTension: 0.1,
                        pointRadius: 5,
                    },
                    {% if currency != "PLN" %}
                    {
                        label: "Kwota zamowien PLN",
                        data: {{prices_in_pln|safe}},
                        fill: false,
                        borderColor: "rgb(100, 217, 111)",
                        lineTension: 0.1,
                        pointRadius: 5,
                    }
                    {% endif %}
                    
                ]
            },
            options: {
                responsive: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Kwoty zamowien - {{currency}} ({{ prices_sum_pln }} PLN)',
                        padding: {
                            top: 10,
                            bottom: 30
                        },
                         font: {
                            size: 30
                        }
                    }
                  
                }
            }
        });
    </script>
</body>
