<html>
  <head>
    <meta charset="utf-8">
    <title>Zalando - oferty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
<body>
     <div class="navbar">
      <a href="/" class="previous"><b>ZALANDO</b></a> 
      <a href="/orders/" class="previous">Zamowienia</a> 
      <a href="/returns/" class="previous">Wyswietl produtky / zwroty</a>
      <a href="/products/" class="previous">Podglad ofert po ean</a>
      <div class="dropdown">
        <button class="dropbtn">Trackingi
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/tracking/" class="previous">Dodaj trackingi/statusy</a> 
          <a href="/tracking/adjustment">Korekty</a>
        </div>
      </div>
    </div>
  <h1>Produkty</h1>
   Podaj ean jednego z rozmiarow zeby wyswietlic wszystkie oferty z katalogu
   <form action = '/products/' method = 'post'>
   <input type="number" name="ean_number" min = 1>
   <button value="check" name="forwardBtn" type="submit">Wczytaj</button>
   </form>
   

    <div class="table-wrapper">
          <table class="order_table" style="border: 1px solid black;">
      
              <thead>
                  <tr>
                      <th>Id zalando</th>
                      <th>Ean</th>
                      <th>Ilosc</th>
                      <th>Cena</th>
                      <th>Status</th>
                      <th>Opis</th>
                  </tr>
              </thead>
              <tbody>
              {% for product in data%}
                  <tr>
                    {% if product == '' %}
                        <td>Taki ean nie znajduje sie w ofertach zalando</td>
                    {% else %}
                        {% if not product.zalando_product_simple_id %}
                            <td>-</td>
                        {% else %}
                            <td>{{product.zalando_product_simple_id}}</td>
                        {% endif %} 

                        <td>{{product.ean}}</td>
                        <td>{{product.offers[0].stock.amount}}</td>
                        {% if not product.offers[0].price %}
                            <td>Brak ceny</td>
                        {% else %}
                            <td>{{product.offers[0].price.regular_price.amount}} {{product.offers[0].price.regular_price.currency}}</td>
                        {% endif %} 
                        <td>{{product.offers[0].offer_status[0].status_cluster}}</td>
                        <td>{{product.offers[0].offer_status[0].short_description.en}}</td>
                        
                    {% endif %}          
                  </tr>
              {% endfor %}
              <tbody>
          </table>
      </div>
</body>
</html>