<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Statystyki Zalando</title>
    <style>
        .info-bar:{
            width: 100%;
        }
        .half-bar{
            width: 50%;
            float:left;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .segment{
            float: left;
            width: 33%;
            box-shadow: inset 0px 0px 5px 0px #203647;
        }
        .info-titles, .info-content{
            height: 40px;
            float: left;
            text-align: center;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
     <div class="navbar">
         <a href="/" class="previous"><b>ZALANDO</b></a>
         <a href="/orders/" class="previous">Zamowienia</a>
         <a href="/returns/" class="previous">Wyswietl produtky / zwroty</a>
         <a href="/products/" class="previous">Podglad ofert po ean</a>
         <a href="/tracking/" class="previous">Dodaj trackingi / statusy</a>
    </div>
           <h3>Uruchomione workery (tasków w kolejce: {{queue}}):
            {%for worker in workers%}
                {% if worker == "Brak" %}
                    <p style = "color: red">{{worker}}</p>
                {% else %}
                    <p style = "color: green">{{worker}}</p>
                {% endif %}
            {%endfor%}
               </h3>
               Rok: {{year}}
    <button><a href="{{ url_for('zalando_stats_page', year=(year|int)-1, month='1', country=country) }}">Poprzedni rok</a></button>
    <button><a href="{{ url_for('zalando_stats_page', year=(year|int)+1, month='1', country=country) }}">Następny rok</a></button><br>

    Miesiąc: {{month}}
    <button><a href="{{ url_for('zalando_stats_page', year=year, month=month|int-1, country=country) }}">Poprzedni miesiac</a></button>
    <button><a href="{{ url_for('zalando_stats_page', year=year, month=month|int+1, country=country) }}">Następny miesiac</a></button><br>

     {% set sum_of_prices = (price_sum_per_day | sum) | round(2)%}
     {% set sum_of_prices_returned = (returns_price_sum_per_day | sum) | round(2)%}
     <div class="info-bar">
         <div class="half-bar">
             <div class="segment">
                 <div class="info-titles">Zamówień w tym miesiącu</div>
                 <div class="info-content">{{orders|length}}</div>
             </div>
             <div class="segment">
                 <div class="info-titles">Suma kwot zamówień</div>
                 <div class="info-content">{{sum_of_prices}}</div>
             </div>
             <div class="segment">
                 <div class="info-titles">Średni koszyk</div>
                 {% if sum_of_prices == 0 %}
                    <div class="info-content">0</div>
                 {% else %}
                    <div class="info-content">{{(sum_of_prices/orders | length) | round(2)}}</div>
                 {% endif %}
             </div>
         </div>
         <div class="half-bar">
             <div class="segment">
                 <div class="info-titles">Zwrotów w tym miesiącu</div>
                 <div class="info-content">{{returns|length}}</div>
             </div>
             <div class="segment">
                 <div class="info-titles">Suma kwot zwrotów</div>
                 <div class="info-content">{{sum_of_prices_returned}}</div>
             </div>
             <div class="segment">
                 <div class="info-titles">Średni zwracany koszyk</div>
                 {% if sum_of_prices_returned == 0 %}
                    <div class="info-content">0</div>
                 {% else %}
                    <div class="info-content">{{(sum_of_prices_returned/returns | length) | round(2)}}</div>
                 {% endif %}
             </div>
         </div>
     </div>
     <div class="info-bar">
         <div class="half-bar">
             <div class="segment">
                 <div class="info-titles">Średnio zamówień dziennie</div>
                 {% set days_wih_sales = namespace(value=0) %}
                 {% for i in order_per_day%}
                    {% if i != 0 %}
                        {% set days_wih_sales.value = days_wih_sales.value + 1 %}
                    {% endif %}
                 {% endfor %}
                {% if days_wih_sales.value == 0 %}
                    <div class="info-content">0.0</div>
                 {% else %}
                    <div class="info-content">{{(orders|length/days_wih_sales.value)|round(1)}}</div>
                 {% endif %}
             </div>
         </div>
         <div class="half-bar">
             <div class="segment">
                 <div class="info-titles">% zwrotów - realny</div>
                     {% if orders|length == 0 %}
                        <div class="info-content">0.0</div>
                     {% else %}
                        <div class="info-content">{{((orders_returned_each_day|sum/orders|length)*100)|round(2)}}</div>
                     {% endif %}

             </div>
             <div class="segment">
                 <div class="info-titles">% zwrotów - wykonanych w msc </div>
                     {% if orders|length == 0 %}
                        <div class="info-content">0.0</div>
                     {% else %}
                        <div class="info-content">{{((returns|length/orders|length)*100)|round(2)}}</div>
                     {% endif %}

             </div>
         </div>

     </div>

    <canvas id="myChart" width="780" height="520" style = "float: left;"></canvas>
    <script>
            var ctx1 = document.getElementById('myChart').getContext('2d');
            var lineChart = new Chart(ctx1, {
                type: "bar",
                data:{
                    labels: {{days_labels|safe}},
                    datasets: [
                        {
                            label: "Liczba zamówień",
                            data: {{order_per_day|safe}},
                            fill: false,
                            backgroundColor: [
                                  "rgb(0, 255, 127)",
                                ],
                            lineTension: 0.1,

                        },
                        {
                            label: "Liczba Zwrotów",
                            data: {{return_per_day|safe}},
                            fill: false,
                            backgroundColor: [
                                  "rgb(178, 34, 34)",
                                ],
                            lineTension: 0.1,

                        }
                    ]
                },
                options: {
                    responsive: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Liczba zamówień / zwrotów',
                            padding: {
                                top: 10,
                                bottom: 30
                            },
                             font: {
                                size: 30
                            }
                        },
                    },
                }
            });
    </script>
    <canvas id="myChart2" width="780" height="520" style = "float: left;"></canvas>
    <script>
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var lineChart = new Chart(ctx2, {
                type: "bar",
                data:{
                    labels: {{days_labels|safe}},
                    datasets: [
                        {
                            label: "Zamówienia (EURO) ",
                            data: {{price_sum_per_day|safe}},
                            fill: false,
                            backgroundColor: [
                                  "rgb(0, 255, 127)",
                                ],
                            lineTension: 0.1,

                        },
                        {
                            label: "Zwroty (EURO) ",
                            data: {{returns_price_sum_per_day|safe}},
                            fill: false,
                            backgroundColor: [
                                  "rgb(178, 34, 34)",
                                ],
                            lineTension: 0.1,

                        },
                    ]
                },
                options: {
                    responsive: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Kwoty zamówień / zwrotów - brutto',
                            padding: {
                                top: 10,
                                bottom: 30
                            },
                             font: {
                                size: 30
                            }
                        },
                    },
                }
            });
    </script>
     <canvas id="myChart3" width="780" height="520" style = "float: left;"></canvas>

    <script>
            var ctx3 = document.getElementById('myChart3').getContext('2d');
            var lineChart = new Chart(ctx3, {
                data:{
                    labels: {{days_labels|safe}},
                    datasets: [
                        {
                            type: "line",
                            label: "Stosunek zwrotów do zamówień w %",
                            yAxisID: 'B',
                            data: {{returns_to_order_ratio|safe}},
                            borderColor: "rgb(255, 49, 49)"
                        },
                        {
                            type: "bar",
                            label: "Ilośc zwrotow",
                            data: {{orders_returned_each_day|safe}},
                            fill: false,
                            backgroundColor: "rgb(145, 178, 199)",
                            lineTension: 0.1,
                            yAxisID: 'A',
                        },
                    ]
                },
                options: {
                    responsive: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Zwroty dla poszczególnych dni',
                            padding: {
                                top: 10,
                                bottom: 30
                            },
                             font: {
                                size: 30
                            }
                        },
                    },
                    scales: {
                        A: {
                             name: 'A',
                            type: 'linear',
                            position: 'left',
                            scalePositionLeft: true
                        },
                        B: {
                            name: 'B',
                            type: 'linear',
                            position: 'right',
                            scalePositionLeft: false,
                            min: 0,
                            max: 100
                        },
                    }
                }
            });
    </script>
</body>
</html>